<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%# das=sorgt dafür, dass etwas im HTML zu sehen / lesen ist! %>
            <%= title %>
    </title>
</head>

<body>